@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,500&display=swap");
html,
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "raleway", sans-serif;
  scroll-behavior: smooth;
}
body {
  height: fit-content;
  position: relative;
  background-color: #e7e7e7;
}

.nav-bar {
  position: fixed;
  height: 3em;
  background-color: transparent;
  color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  backdrop-filter: blur(10px);
}
.nav-bar::after {
  content: "";
  position: absolute;
  bottom: 0px;

  width: 100%;
  background-color: #000;
  height: 1px;
}

.nav-ul {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav-ul li {
  margin: 10px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.nav-ul li {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 0rem 2.5em;
}
li > a:after {
  content: "";
  display: block;
  height: 1px;
  background: black;
  transform: scaleX(0);
  transition: transform 0.5s;
}
li > a:hover:after {
  transform: scaleX(1);
  transition: transform 0.3s;
}
.active {
  color: black !important;
}
body {
  height: 100%;
}

.home {
  overflow: hidden;
  background: #ada996; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #80858e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 0;
  background-repeat: no-repeat;
}

span {
  font-weight: 200;
  font-size: 6rem;
  font-family: "Raleway", sans-serif;
}
.reveal-text,
.reveal-text::after {
  -webkit-animation-delay: var(--animation-delay, 2s);
  animation-delay: var(--animation-delay, 2s);
  -webkit-animation-iteration-count: var(--iterations, 1);
  animation-iteration-count: var(--iterations, 1);
  -webkit-animation-duration: var(--duration, 800ms);
  animation-duration: var(--duration, 800ms);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.reveal-text {
  --animation-delay: var(--delay, 0);
  --animation-duration: var(--duration, 800ms);
  --animation-iterations: var(--iterations, 1);
  position: relative;

  -webkit-animation-name: clip-text;
  animation-name: clip-text;
  color: black;

  white-space: nowrap;
  cursor: default;
}

.reveal-text::after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background: linear-gradient(to right, #252525, #000000);

  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  -webkit-animation-name: text-revealer;
  animation-name: text-revealer;
}

@-webkit-keyframes clip-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

@keyframes clip-text {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

@-webkit-keyframes text-revealer {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

@keyframes text-revealer {
  0%,
  50% {
    transform-origin: 0 50%;
  }

  60%,
  100% {
    transform-origin: 100% 50%;
  }

  60% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}
h1 {
  font-weight: 400;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}
.left-section p {
  font-weight: 300;
  font-size: 1.1rem;
  font-family: "raleway", sans-serif;
}
.left-section {
  display: flex;
  flex-direction: column;
}

img {
  width: 17rem;
  margin-top: 10rem;
  object-fit: contain;
}

.button {
  width: 7rem;
  height: 2rem;
  --offset: 4px;
  --border-size: 2px;
  display: block;
  flex-wrap: wrap;
  position: relative;
  padding: 1em 1em 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: transparent;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  outline: none;
  cursor: pointer;
  margin-top: 2em;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
}
.button:hover {
  background: rgba(100, 0, 0, 0.03);
}
.button__horizontal,
.button__vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: transform 0.8s ease;
  will-change: transform;
}
.button__horizontal::before,
.button__vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}
.button__horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
  transform: scaleX(0);
}
.button__vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
  transform: scaleY(0);
}
.projects {
  background: #4a4949;
}
.project-component {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 30em;
  height: 15em;
  margin: 1em;
  margin-top: -8rem;
}
.project-component h2 {
  font-size: 1.2rem;
  font-weight: 300;
  color: black;
}
.projects-component-container {
  height: 70vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.blur {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px) grayScale(40%);
}
.card {
  background-position: center;
  background-size: cover;
  margin-top: 1em;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(2, 2, 2);
  cursor: pointer;
}
.projects-section {
  height: 100vh;
  position: relative;
  margin-top: 10vh;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  background-color: #e2e2e2;
  box-shadow: rgba(0, 0, 0, 0.471) 0px -10px 25px,
    rgba(0, 0, 0, 0.35) 0px 10px 25px;
}

.projects-section h1 {
  font-size: 3em;
  margin: 2rem;
  color: #000;
  font-weight: 100;
  z-index: 1;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: -3rem;
  margin-top: 1rem;
}
.project-button {
  width: fit-content;
  border: 1px solid black;
  padding: 0.5rem 2rem;
  font-size: 0.3em;
  border-radius: 2px;
}

/* CSS */
.button-57 {
  font-size: 0.5rem;
  border-radius: 2px;
  position: relative;
  width: 6rem;
  height: 2rem;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #000000;
  display: inline-block;
  font-weight: 400;

  padding: 1px 1px 1px;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.thin-line {
  width: 70%;
  height: 1px;
  background-color: rgb(65, 65, 65);
}

.button-57 span:first-child {
  font-size: 0.7rem;
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
  font-weight: 300;
}

.button-57 span:last-child {
  font-size: 1rem;
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  font-size: 1rem;
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  font-size: 1rem;
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  font-size: 1rem;
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
.skills-section {
  position: absolute;
  bottom: 0;
  margin-bottom: -14vh;
  background: #304352; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d7d2cc,
    #797d81
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f2f0ed,
    #8e969c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: rgba(0, 0, 0, 0.471) 0px -10px 25px,
    rgba(0, 0, 0, 0.35) 0px 10px 25px;
  width: 100%;
  height: 70vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 200;
  color: #000;
}
.skills-container {
  display: flex;
  align-items: center;
  width: 70vw;
  justify-content: center;
  gap: 10vw;
  color: #000000;
}
.skills-section h1 {
  font-weight: 200;
  color: #000000;
}
.skills-section p {
  font-weight: 200;
}

.skill-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vw;
}
.skill-card img {
  width: 7vw;
  margin-top: 0;
}
.skills-section span {
  height: 1px;
  width: 60vw;
  color: black;
}
.findme-section {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #414345,
    #404345
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    30deg,
    #fafaf2,
    #5a5f64
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  backdrop-filter: blur(10px);
  z-index: 0;
  background-color: #dfdfdf;
  box-shadow: rgba(0, 0, 0, 0.471) 0px -10px 25px,
    rgba(0, 0, 0, 0.35) 0px 10px 25px;
}
.send-email form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
}
.input {
  background-color: transparent;
  height: 2em;
  margin: 0.6rem;
  padding: 0.5em 0em 0em 0em;
  border: none;
  border-bottom: 1px solid black;
  width: 20em;
  font-size: 0.7;
}
input:hover,
input:active,
input:focus,
input:active:focus {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.input::placeholder {
  color: rgb(75, 75, 75);
  font-size: 0.7em;
}
.findme-dividor-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 40rem;
}
.findme-left-section {
  display: flex;
  flex-direction: column;
}
.message input {
  height: 100%;
  resize: none;
}
.message::placeholder {
  color: rgb(75, 75, 75);
  font-size: 0.7em;
}
textarea {
  height: 100%;
  resize: none;
}
.message {
  background-color: transparent;
  height: auto;
  margin: 0.2rem;
  padding: 0.2em 0em;

  border: none;
  border-bottom: 1px solid black;
  width: 20em;
  font-size: 0.7;
  margin-bottom: 0.6rem;
  margin-top: 1.2em;
}
.message:hover,
.message:active,
.message:focus,
.message:active:focus {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}
a {
  text-decoration: none !important;
}
.acc-btn {
  margin: 5em 10em 10em 10em;
  width: 17em;
  height: 10em;
}
#submit-button {
  width: 8em;
  border: 1px solid black;
  height: 2em;
  border-radius: 1px;
  margin: 1rem;
  background-color: transparent;
  cursor: pointer;
}
#submit-button:hover {
  background-color: #000000;
  color: #d4d4d0;
}
.findme-section h2 {
  color: black;
  font-weight: 200;
}
